@import 'mixins';
@import 'variables';
@import 'fonts';

@include reset;
@include bootstrap-game;

body {
    line-height: 1.3;
    color: $text-black;
    font-family: "Kalam-Bold", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

.skoash-game {
    > .menu {
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 2;
    }
}

button {
    &.close {
        @include sprite-transform(.3, top, right);
    }

    &.next-screen,
    &.prev-screen,
    &.close-reveal {
        display: block;
        position: absolute;
        z-index: 10;
        margin: 0;
    }

    &.next-screen,
    &.prev-screen {
        bottom: 40px;

        div {
            @include sprite-transform(.6);
        }
    }

    &.next-screen {
        right: 45px;
    }

    &.prev-screen {
        left: 45px;
    }

    &.close-reveal {
        right: 225px;
        bottom: 160px;

        div {
            @include sprite-transform(.8);
        }
    }

    &.quit-yes,
    &.quit-no {
        bottom: 20%;
    }

    &.quit-yes {
        @include sprite-transform(.6, top, left);
        left: 20%;
    }

    &.quit-no {
        @include sprite-transform(.6, top, right);
        right: 20%;
    }
}

.skoash-game {
    $screen-pairs:
        (video bkg4)
        (info bkg1)
        (scale bkg1)
        (answer bkg2)
        (instructions bkg3)
        (plate bkg3)
        (info-flip bkg4);
    @include screen-background-pairs($screen-pairs);

    &.MENU-quit {
        .background.bkg4 {
            opacity: 1;
        }
    }

    .background {
        $background-pairs:
            (bkg1 'bkg1.jpg')
            (bkg2 'bkg2.jpg')
            (bkg3 'bkg3.jpg')
            (bkg4 'bkg4.jpg');
        @include background-pairs($background-pairs);
    }
}

.soj-title {
    // TODO: fix smoothing 2/22/17 AIM
    @include text-stroke(4, $text-black);
    line-height: .9;
    color: $blue;
    font-family: soupofjustice;
    font-size: 80px;
}

.reveal {
    @include reveal;
}

.selectable {
    @include selectable;
}
