@import 'mixins';

.screen[id*="answer"] {
    @include circle-text;

    .circle {
        transform: translateX(-100%);
        transition: transform 1s;

        img {
            transform: rotate(-360deg);
            transition: transform 1s;
        }
    }

    .text {
        transition: opacity 1.5s;
        opacity: 0;
        font-size: 27px;
        transition-delay: .5s;
    }

    .soj-title {
        transform: translateY(-400%);
        transition: transform 1.5s;
        font-size: 71px;
        transition-delay: 1s;
    }

    .food-container {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 35%;
        height: 70%;

        .correct-food {
            @include sprite-transform(.5, bottom, right);
        }
    }

    &.OPEN {
        .text {
            opacity: 1;
        }

        .soj-title {
            transform: none;
        }

        .circle {
            transform: none;

            div {
                animation-name: rotateIn;
            }
        }

        .food-container {
            animation-name: slideInRight;
            animation-delay: 1.5s;
        }
    }
}

