@import 'mixins';

.screen[id*="answer"] {
    @include circle-text;

    .soj-title {
        font-size: 71px;
    }

    .text {
        font-size: 27px;
    }

    .correct-food {
        @include sprite-transform(.5, bottom, right);
        right: 200px;
        bottom: 120px;
    }

    &.OPEN {
        .text {
            animation-name: slideInLeft;
            animation-delay: 2s;
        }

        .circle {
            animation-name: rotateIn;
        }
    }
}

