@import 'mixins';

.screen[id*="info"] {
    @include circle-text;

    .sprite {
        position: absolute;
        bottom: 30px;
        left: -140px;
        width: 440px;
    }

    &.OPEN {
        .text {
            animation-name: slideInLeft;
            animation-delay: 2s;
        }

        .circle {
            animation-name: rotateIn;
        }
    }
}

#info-daily-meals {
    .text {
        font-size: 45px;
    }
}

#info-flip {
    .flip {
        position: absolute;
        right: -20px;
        bottom: 90px;
        width: 300px;
    }
}

