@import 'variables';
@import '../../shared/css/mixins/import';
@import '../../shared/css/animate';

@mixin scale($row, $scale) {
    $img-width: 1200px * $scale;
    $img-height: 2574px * $scale;
    @include sprite($sprite + 'sprite-scale.png', $img-width, $img-height, 1, 3, 1, $row, 1);
}

@mixin block($width, $height, $color) {
    width: $width;
    height: $height;
    background-color: $color;
}

@mixin frame($image-src: none, $color: initial) {
    @if $image-src != none {
        @include background($image + $image-src);
    } @else {
        background-color: $color;
    }
    @include center;
    width: 80%;
    height: 80%;
    padding: 30px;
}

@mixin circle-text() {
    .circle {
        margin-top: 15px;
        width: 100%;

        img {
            width: 510px;
        }
    }

    .text {
        @include center('true', 'false');
        width: 100%;
        font-size: 33px;
    }
}
