@import 'variables';
@import '../../shared/css/mixins/import';
@import '../../shared/css/animate';

@mixin frame($image-src: none, $color: initial) {
    @if $image-src != none {
        @include background($image + $image-src);
    } @else {
        background-color: $color;
    }
    @include center;
    width: 80%;
    height: 80%;
    padding: 30px;
}

@mixin circle-text() {
    .circle {
        margin-top: 15px;
        width: 100%;

        img {
            width: 510px;
        }
    }

    .text {
        @include center('true', 'false');
        width: 100%;
        font-size: 33px;
    }
}
