@import 'mixins';
@import 'variables';
@import 'fonts';

.screen[id*="plate"] {

    .screen-content > .soj-title {
        color: $yellow;
        margin-top: 15px;
    }

    .left-panel,
    .right-panel,
    .shadow-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200px;
    }

    .left-panel,
    .right-panel {
        z-index: 1;
    }

    .shadow-panel {
        @include background($image + 'leftwood.jpg');
        left: 0;
        background-size: 100%;
    }

    .right-panel {
        right: 0;
        background-color: $yellow;
        text-shadow: 1px 1px 2px $black;
        font-family: soupofjustice;
        font-size: 26px;
        color: $light-blue;

        > div {
            @include center;
            width: 100%;
        }

        .waterdrop {
            @include block(100px, 230px, blue);
            margin: 0 auto;

        }

        .reveal {
            @include text-stroke(4, $white);
            font-size: 60px;
            color: $red;
            line-height: 0.9;
        }
    }

    .slider {
        @include slider(4, 'vertical');

        .content {
            @include center('false');
            top: 87px;
            width: 65px;
            height: 72px;
            text-align: center;

            > * {
                z-index: 0;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }

        .prev-slide,
        .next-slide {
            @include block(75px, 50px, pink);
            @include center('false');
        }

        .prev-slide {
            top: 10px;
        }

        .next-slide {
            bottom: 95px;
        }
    }

    .shadow-panel {
        .prev-slide,
        .next-slide {
            display: none;
        }
    }

    .plate-food {
        &.RETURN {
            transition: transform 1s, top 1s, opacity .5s;
        }

        &.CORRECT {
            cursor: default !important;
            pointer-events: none !important;
        }

        &:hover:not(.CORRECT) .food,
        &.CORRECT .food,
        .food,
        .shadow {
            position: absolute;
            pointer-events: none;  
            transform: scale(0.4);
            width: 100%;
            height: 100%;

            &::before {
                @include center;
            }
        }

        &:hover:not(.CORRECT) {
            z-index: 2;
        }

        .reveal {
            width: 0;
            height: 0;
            left: initial;
            right: 0;

            .close-reveal {
                @include block(20px, 20px, black);
                right: initial;
            }
        }
    }

    .dropzones {
        position: absolute;
        top: -80px;
        left: 90px;
        width: 781px;
        height: 779px;
        transform: scale(0.56);
    }

    .dropzone-plate {
        position: absolute;

        &.starch {
            top: 0;
            left: 0;
        }

        &.protein {
            top: 0;
            right: 0;
        }

        &.fruitveg {
            @include center('false');
            bottom: 0;
        }

        &.beverage {
            @include center();
        }

    }

    .screen-content > .reveal {
        background-color: $yellow-trans;

        li {
            width: 650px;
            height: 350px;
            padding: 15px;
            background-color: $blue;
            border: 9px solid $red;

            p {
                font-size: 27px;
            }
        }

        .close-reveal {
            top: 60px;
            right: 125px;
        }

        .soj-title {
            color: $white;
        }

        .instructions {
            .soj-title {
                font-size: 70px;
                padding: 15px;
                border-bottom: 3px dashed $black;
                margin-bottom: 30px;
            }
        }
    }
}
