@import 'mixins';
@import 'variables';
@import 'fonts';

.screen[id*="plate"] {

    .screen-content > .soj-title {
        color: $yellow;
        margin-top: 15px;
    }

    $bfast: apple-juice orange-juice oatmeal cornflakes sausages apple eggs milk;

    .food {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        margin: 0 auto;

        &.RETURN {
            transition: transform .5s, opacity 1s;
        }

        &.CORRECT {
            cursor: default;
            pointer-events: none;
            transition: margin-top 1s;
        }

        @for $i from 1 through length($bfast) {
            &.#{nth($bfast, $i)} {
                @include block(65px, 65px, rgba($i * 25, $i * 25, $i * 25, 1));
            }
        }

        .reveal {
            width: 0;
            height: 0;
            left: initial;
            right: 0;

            .close-reveal {
                @include block(20px, 20px, black);
                right: initial;
            }
        }
    }

    .dropzones {
        @include center;
        top: 55%;
        width: 425px;
        height: 425px;
        z-index: -1;
    }

    .block-plate,
    .plate {
        position: absolute;
        transform: scale(0.56);

        &.starch {
            top: 0;
            left: 0;
        }

        &.protein {
            top: 0;
            right: 0;
        }

        &.fruitveg {
            @include center('false');
            bottom: 0;
        }

        &.beverage {
            @include center;
        }

    }

    .block-plate {
        transform: none;
        &.starch {
            @include block(200px, 100px, yellow);
        }

        &.protein {
            @include block(200px, 100px, red);
        }

        &.fruitveg {
            @include block(400px, 100px, green);
        }

        &.beverage {
            @include block(100px, 100px, blue);
        }
    }

    .left-panel,
    .right-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200px;
    }

    .left-panel {
        @include background($image + 'leftwood.jpg');
        left: 0;
        background-size: 100%;

        .content {
            @include center('false');
            top: 93px;
            width: 65px;
            height: 72px;
            transition: margin-top 1s;
            text-align: center;
        }


        .prev-slide,
        .next-slide {
            @include block(75px, 50px, pink);
            @include center('false');
        }

        .prev-slide {
            top: 37px;
        }

        .next-slide {
            bottom: 95px;
        }

    }

    .right-panel {
        right: 0;
        background-color: $yellow;
        text-shadow: 1px 1px 2px $black;
        font-family: soupofjustice;
        font-size: 26px;
        color: $light-blue;

        > div {
            @include center;
            width: 100%;
        }

        .waterdrop {
            @include block(100px, 230px, blue);
            margin: 0 auto;

        }

        .reveal {
            @include text-stroke(4, $white);
            font-size: 60px;
            color: $red;
            line-height: 0.9;
        }
    }

    .screen-content > .reveal {
        background-color: $yellow-trans;

        li {
            width: 650px;
            height: 350px;
            padding: 15px;
            background-color: $blue;
            border: 9px solid $red;

            p {
                font-size: 27px;
            }
        }

        .close-reveal {
            top: 60px;
            right: 125px;
        }

        .soj-title {
            color: $white;
        }

        .instructions {
            .soj-title {
                font-size: 70px;
                padding: 15px;
                border-bottom: 3px dashed $black;
                margin-bottom: 30px;
            }
        }
    }
}
