@import 'variables';
@import 'mixins';

.screen[id*="scale"] {
    .soj-title {
        font-size: 50px;
        margin-top:15px;
        color: $red;
    }

    .reveal {
        @include reveal;

        .close-reveal {
            display: none;
        }
    }

    .screen-content > .reveal {
        z-index: 0;

        li {
            position: absolute;
            top: 300px;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    @include scale($i, 0.5);
                }
            }
        }
    }

    .selectable {
        @include selectable;
        @include cover;

        > li {
            @include block(100px, 100px, green);
            position: absolute;
            top: 300px;
            transition: top 1s;

            &:nth-of-type(1) {
                left: 250px;
            }
            &:nth-of-type(2) {
                left: 610px;
            }
        }

        .correct li {
            @include block(30px, 30px, white);
        }

        .incorrect li {
            @include block(30px, 30px, black);
        }

    }

    .reveal.open-left ~ div .selectable,
    .reveal.open-right ~ div .selectable {
        li {
            pointer-events: none;
            cursor: default;
        }
        .correct {
            top: 220px;
        }
        .incorrect {
            top: 330px;
        }
    }
}

