@import 'variables';
@import 'mixins';

.screen[id*="scale"] {
    .soj-title {
        margin-top: 15px;
        color: $red;
        font-size: 50px;
    }

    .screen-content > .scale-container {
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: 0;

        .arm-container {
            position: absolute;
            top: -130px;
            transition: transform 1s;
        }

        .base,
        .arm,
        .plate.left {
            @include sprite-transform(.5);
        }

        .plate.right {
            @include sprite-transform(.5, top, right);
        }

        .plate {
            transition: top 1s;
        }

        .plate.left {
            left: -180px;
        }

        .plate.right {
            right: -180px;
        }

        &.left {
            .plate.left {
                top: -40px;
            }

            .plate.right {
                top: 40px;
            }

            .arm-container {
                transform: rotate(13deg);
            }
        }

        &.right {
            .plate.left {
                top: 40px;
            }

            .plate.right {
                top: -40px;
            }

            .arm-container {
                transform: rotate(-13deg);
            }
        }

    }

    .selectable {
        @include cover;

        > li {
            transition: bottom 1s;

            &:nth-of-type(1) {
                @include sprite-transform(.7, bottom);
                left: 300px;
            }

            &:nth-of-type(2) {
                @include sprite-transform(.7, bottom, right);
                right: 300px;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
                bottom: 190px;
            }
        }

        .reveal {
            @include text-stroke(6, $black);
        }

        .correct li {
            color: $green;
            font-size: 260px;
        }

        .incorrect li {
            color: $red;
            font-size: 400px;
        }

    }

    .scale-container.left ~ div .selectable,
    .scale-container.right ~ div .selectable {
        li {
            cursor: default;
            pointer-events: none;
        }

        .correct {
            bottom: 230px;
        }

        .incorrect {
            bottom: 150px;
        }
    }
}

