@import 'mixins';

#title {
    img {
        width: 100%;
    }

    .next-screen {
        right: 105px;
        bottom: 105px;

        div {
            @include sprite-transform(.6);
        }
    }
}
