$media: $media-server + 'games/aqua-lunch-man/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$font: $media + 'fonts/';

$black: #000;
$white: #fff;
$text-color: rgba(40, 40, 40, 1);
$title-color: rgba(94, 209, 255, 1);
