$media: $media-server + 'games/aqua-lunch-man/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$font: $media + 'fonts/';

$black: #000;
$white: #fff;
$text-black: rgba(35, 31, 32, 1);
$blue: rgba(36, 162, 220, 1);
$red: rgba(206, 6, 6, 1);
