$media: $media-server + 'games/aqua-lunch-man/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$font: $media + 'fonts/';

$black: #000;
$white: #fff;
$text-black: rgba(35, 31, 32, 1);
$blue: rgba(36, 162, 220, 1);
$light-blue: rgba(31, 197, 255, 1);
$blue-trans: rgba(13, 173, 229, .8);
$red: rgba(206, 6, 6, 1);
$yellow: rgba(225, 221, 21, 1);
$yellow-trans: rgba(225, 221, 21, .6);
$green: rgba(79, 201, 68, 1);
